In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
inventory_df = pd.read_csv('C:/Users/20193723/Documents/Data Challenge 2/Data/inventory.csv')
products_df = pd.read_csv('C:/Users/20193723/Documents/Data Challenge 2/Data/products.csv')
promotions_df = pd.read_csv('C:/Users/20193723/Documents/Data Challenge 2/Data/promotions.csv')
transactions_df = pd.read_csv('C:/Users/20193723/Documents/Data Challenge 2/Data/transactions.csv')

In [3]:
for i in transactions_df[transactions_df['day'].isnull()].index:
    transactions_df['day'][i] = transactions_df['day'][i-1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
transactions_df[transactions_df['day'].isnull()]

Empty DataFrame
Columns: [day, time, customer, bank acount, category, product_id, description, size, std_sales_price, purchase_price, bio, basic]
Index: []

In [5]:
for i in transactions_df[transactions_df['time'].isnull()].index:
    transactions_df['time'][i] = transactions_df['time'][i-1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
transactions_df[transactions_df['time'].isnull()]

Empty DataFrame
Columns: [day, time, customer, bank acount, category, product_id, description, size, std_sales_price, purchase_price, bio, basic]
Index: []

In [7]:
for i in transactions_df[transactions_df['product_id'].isnull()].index:
    for a in range(len(products_df)):
        if transactions_df['description'][i] == products_df['description'][a]:
            transactions_df['product_id'][i] = products_df['product_id'][a]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [8]:
transactions_df[transactions_df['product_id'].isnull()]

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
65737,10/3/2018,18:59:42,3894.0,65327490.0,bread,NaN,NaN,1st,0.99,0.99,0.0,0.0

In [9]:
transactions_df.head(15)

,day,time,customer,bank acount,category,product_id,description,size,std_sales_price,purchase_price,bio,basic
0,1/1/2018,9:07:00,0.0,NaN,snack,s_5,Eierkoeken,4st,1.79,1.79,0.0,0.0
1,1/1/2018,9:07:00,0.0,NaN,meat,m_16,Sappige gelders rookworst,250g,1.08,1.08,0.0,0.0
2,1/1/2018,9:07:00,0.0,NaN,meat,m_18,Varkensbraadworst,4st,2.49,1.99,NaN,0.0
3,1/1/2018,9:07:00,0.0,NaN,meat,m_6,Half om half gehakt,500g,2.69,2.42,0.0,0.0
4,1/1/2018,9:07:00,0.0,NaN,bread,b_33,Biologisch bruin heel,1st,2.12,2.12,1.0,0.0
5,1/1/2018,9:07:00,0.0,NaN,meat,m_9,Mini biefstukjes,180g,2.39,2.39,0.0,0.0
6,1/1/2018,9:07:00,0.0,NaN,snack,s_1,Vanille muffins (vers),1st,3.07,3.07,0.0,0.0
7,1/1/2018,9:07:00,0.0,NaN,meat,m_13,Mini gourmet kipsatespiesjes,200g,2.49,2.49,0.0,0.0
8,1/1/2018,9:07:00,0.0,NaN,vegetable,v_21,Boerenkool gesneden,300g,1.29,1.29,0.0,0.0
9,1/1/2018,9:07:00,0.0,NaN,fruit,f_7,Pitloze rode druiven,500g,2.19,2.19,0.0,0.0
10,1/1/2018,9:07:00,0.0,NaN,fruit,f_21,Granny smith,1.5kg,3.19,3.19,0.0,0.0
11,1/1/2018,9:07:00,0.0,NaN,fruit,f_21,Granny smith,1.5kg,3.19,3.19,0.0,0.0
12,1/1/2018,9:07:00,0.0,NaN,vegetable,v_32,Buitenbeentjes komkommer,1kg,1.99,1.99,0.0,0.0
13,1/1/2018,9:50:08,1.0,NaN,bread,b_37,Melkbroodjes,2st,1.79,1.79,0.0,0.0
14,1/1/2018,9:50:08,1.0,NaN,bread,b_25,Bolletje Fries roggebrood,500g,1.09,1.09,0.0,0.0